footer {
    background-color: royalblue;
    div {
        p {
            width: 100%;
            padding: 1em;
            text-transform: none;
            font-size: .8em;
            color: white;
        }
    }
}