footer {
    font-family: Helvetica neue, Helvetica, Arial, sans-serif;
    background-color: #001D49;
    div {
        display: table;
        width: 100%;
        padding: 1em;
        text-transform: none;
        font-size: .8em;
        color: white;
        p {
            display: table-cell;
            vertical-align: middle;
        }
    }
}