<!-- <header class="fixed-top">
    <nav class="nav navbar">
        <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">{{ appTitle }}</a>
        <div>
            <ul>
                <li><a [routerLink]="['']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li><a [routerLink]="['about']" routerLinkActive="router-link-active">About</a></li>
                <li><a [routerLink]="['contact']" routerLinkActive="router-link-active">Contact us</a></li>
            </ul>
        </div>
    </nav>
</header> -->
<header class="jumbotron">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" [routerLink]="['']">
            <img class="novo-logo-bar img-responsive" src="../../assets/images/novo_logo.png" alt="Novomatic AG." /> {{ appHeading }} <span [ngStyle]="{ 'color': envColor, 'font-size': envFontSize }">{{ webserver }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-btn" id="collapsibleNavbar">
            <ul class="nav navbar-nav" *ngIf="isLoggedIn">
                <li><button type="button" class="btn btn-sm"><a [routerLink]="['']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">Home</a></button></li>
                <li><button type="button" class="btn btn-sm"><a [routerLink]="['about']" routerLinkActive="router-link-active">About</a></button></li>
                <li><button type="button" class="btn btn-sm"><a [routerLink]="['contact']" routerLinkActive="router-link-active">Contact</a></button></li>
            </ul>
        </div>
    </nav>
</header>