<!-- <header class="fixed-top">
    <div class="container">
        <a [routerLink]="['']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">{{ appTitle }}</a>
        <nav>
            <ul>
                <li><a [routerLink]="['']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li><a [routerLink]="['about']" routerLinkActive="router-link-active">About</a></li>
                <li><a [routerLink]="['contact']" routerLinkActive="router-link-active">Contact us</a></li>
            </ul>
        </nav>
    </div>
</header> -->
<!-- <header class="fixed-top">
    <nav class="nav navbar">
        <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">{{ appTitle }}</a>
        <div>
            <ul>
                <li><a [routerLink]="['']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li><a [routerLink]="['about']" routerLinkActive="router-link-active">About</a></li>
                <li><a [routerLink]="['contact']" routerLinkActive="router-link-active">Contact us</a></li>
            </ul>
        </div>
    </nav>
</header> -->
<!-- <header class="fixed-top">
    <nav class="nav navbar">
        <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">{{ appTitle }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a [routerLink]="['']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li class="nav-item"><a [routerLink]="['about']" routerLinkActive="router-link-active">About</a></li>
                <li class="nav-item"><a [routerLink]="['contact']" routerLinkActive="router-link-active">Contact us</a></li>
            </ul>
        </div>
    </nav>
</header> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" [routerLink]="['']">{{ appTitle }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a [routerLink]="['']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li class="nav-item"><a [routerLink]="['about']" routerLinkActive="router-link-active">About</a></li>
            <li class="nav-item"><a [routerLink]="['contact']" routerLinkActive="router-link-active">Contact us</a></li>
        </ul>
    </div>
</nav>