#mainBody {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 660px;
    text-align: center;
}

// #pageControls {
//     position: inherit;
//     display: block;
//     top: 100px;
// }
#fixedFooter {
    position: fixed;
    display: block;
    bottom: 60px;
    width: 97%;
}

thead {
    background-color: #F9F9F9;
}


/* .gray {
    color: gray;
}

.large {
    font-size: 4em;
}

div {
    margin: 0 0 2em0 0;
    ul {
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: auto;
        height: 350px;
        li {
            background: rgb(238, 238, 238);
            padding: 2em;
            border-radius: 4px;
            margin-bottom: 7px;
            display: grid;
            grid-template-columns: 60px auto;
            p {
                font-weight: bold;
                margin-left: 20px;
            }
            img {
                border-radius: 50%;
                width: 100%;
            }
        }
    }
} */